* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  height: auto;
  max-width: 100%;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.form > input, button {
  width: fit-content;
}

.form > label {
  font-size: 3rem;
  font-family: fantasy;
  margin-bottom: 10px;
}

.form > input {
  margin: 10px 0;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: lightyellow;
}

input:focus,
input:active {
  background-color: yellow;
  outline: none;
  border: 2px solid blue;
  border-radius: 4px;
}

.submit {
  background-color: #4CAF50;
  cursor: pointer;
  padding: 10px 30px;
  margin-top: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: beige;
}


.list--container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
}

.ugly--thing {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  width: min-content;
  border: 2px solid black;
  border-radius: 10px;
  margin: 30px;
  padding: 40px;
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

.ugly--thing > h1 {
  padding: 5x 0;
  font-family: cursive;
  font-weight: 700;
  color: rgb(24, 14, 14);
}

.ugly--thing > p {
  padding: 5px 0;
  font-family: monospace;
  font-size: 20px;
  margin: 10px 0;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.btn--container {
  display: flex;
  justify-content: center;
}

.delete--button {
  margin-top: 20px;
  padding: 5px 20px;
  background-color: #f44336;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.edit--button {
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  background-color: orange;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

html {
  background-image: url(https://i.stack.imgur.com/jGlzr.png);
  background-repeat: no-repeat;
  background-size: cover;
}
